[Unit]
Description=Setup Nix
After=network.target
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
ExecStart=/usr/share/aira/scripts/setup-nix.sh
ExecStartPost=/usr/bin/systemctl disable setup-nix.service
Type=oneshot

[Install]
WantedBy=multi-user.target
