[Unit]
Description=ntfy push notification server
Documentation=https://ntfy.sh/docs/
After=tailscale-ntfy.service
Requires=tailscale-ntfy.service

[Container]
Image=docker.io/binwiederhier/ntfy:latest@sha256:f2419f405127afa868f10985c1a41449e673477cee1eb19994339a5ae8b592e7
ContainerName=ntfy
Exec=serve
Network=container:tailscale-ntfy
Volume=%h/.local/share/ntfy:/var/lib/ntfy:Z

[Service]
ExecStartPre=/usr/bin/mkdir -p %h/.local/share/ntfy
EnvironmentFile=-%h/.config/envs/ntfy/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
