[Unit]
Description=Pi-hole ad blocker
Documentation=https://github.com/pi-hole/docker-pi-hole
After=tailscale-pihole.service
Requires=tailscale-pihole.service

[Container]
Image=docker.io/pihole/pihole:latest@sha256:f7d1be836e3bc608b56d82fc9904f5a831cdfbc0dc9c6d58f94e4c985c70038b
ContainerName=pihole
Network=container:tailscale-pihole
Volume=%h/.local/share/pihole/etc-pihole:/etc/pihole:Z
Volume=%h/.local/share/pihole/etc-dnsmasq.d:/etc/dnsmasq.d:Z
PodmanArgs=--memory=512m --cpus=0.5

[Service]
ExecStartPre=/usr/bin/mkdir -p %h/.local/share/pihole/etc-pihole %h/.local/share/pihole/etc-dnsmasq.d
EnvironmentFile=-%h/.config/envs/pihole/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
