[Unit]
Description=Vaultwarden password manager
Documentation=https://github.com/dani-garcia/vaultwarden
After=tailscale-vaultwarden.service
Requires=tailscale-vaultwarden.service

[Container]
Image=docker.io/vaultwarden/server:latest@sha256:ebdfe70701c60ac0c28c697e787cea767d7972940b786037b29fe0d507f821e8
ContainerName=vaultwarden
Network=container:tailscale-vaultwarden
Volume=%h/.local/share/vaultwarden:/data:Z
EnvironmentFile=-%h/.config/envs/vaultwarden/.env

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
