[Unit]
Description=Copy default aira configs to /var/roothome if missing
ConditionPathExists=!/var/roothome/.config
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/install-aira-configs.sh

[Install]
WantedBy=multi-user.target
