[Unit]
Description=Ephemeral CentOS Stream 10 container
Documentation=man:podman-systemd.unit(5)

[Container]
Image=quay.io/centos/centos:stream10@sha256:ad14f7d919c9b9995a236abace06e888d37d6145e048a6ae26770e1f5dc718a8
ContainerName=centos10
Exec=/usr/bin/sleep infinity
HostName=centos10
PodmanArgs=--memory=512m --cpus=0.5

[Service]
TimeoutStartSec=900
