[Unit]
Description=Ephemeral Fedora container
Documentation=man:podman-systemd.unit(5)

[Container]
Image=registry.fedoraproject.org/fedora:latest@sha256:242dc5b9868d98f22a3f3039d8b5b1a3e1c0860eae1cda84a3fb65e2252fd4c0
ContainerName=fedora
Exec=/usr/bin/sleep infinity
HostName=fedora
PodmanArgs=--memory=512m --cpus=0.5

[Service]
TimeoutStartSec=900
