[Unit]
Description=linkding bookmark manager
Documentation=https://github.com/sissbruecker/linkding

[Container]
Image=docker.io/sissbruecker/linkding:latest@sha256:0c0a9a04c7ebd644293c37f98710872fe7cdff0ea1ff7fd9be4d235e4c4678d2
ContainerName=linkding
PublishPort=9090:9090
Volume=%h/.local/share/linkding:/etc/linkding/data:Z
PodmanArgs=--memory=512m --cpus=0.5

[Service]
ExecStartPre=/usr/bin/mkdir -p %h/.local/share/linkding
EnvironmentFile=-%h/.config/envs/linkding/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
