[Unit]
Description=Ephemeral Ubuntu container
Documentation=man:podman-systemd.unit(5)

[Container]
Image=docker.io/library/ubuntu:latest@sha256:2260313b31c8c011cd2eebe728008efac1b3982be73eb71348ea2648d2c0e09b
ContainerName=ubuntu
Exec=/usr/bin/sleep infinity
HostName=ubuntu
PodmanArgs=--memory=512m --cpus=0.5

[Service]
TimeoutStartSec=900
