[Desktop Entry]
Type=Application
Name=Open Arch Container
Exec=/usr/bin/container-launch arch
Icon=applications-terminal
NoDisplay=true
X-KDE-Shortcuts=Ctrl+Alt+A
