[Desktop Entry]
Type=Application
Name=Open Ubuntu Container
Exec=/usr/bin/container-launch ubuntu
Icon=applications-terminal
NoDisplay=true
X-KDE-Shortcuts=Ctrl+Alt+U
