[Desktop Entry]
Type=Application
Name=Open CentOS 10 Container
Exec=/usr/bin/container-launch centos10
Icon=applications-terminal
NoDisplay=true
X-KDE-Shortcuts=Ctrl+Alt+C
